/* BUTTONS */

$buttons: (bluebin: $bluebin, greenbin: $greenbin, garbage: $garbage);

@mixin unselected-button($color) {
    background-color: $secondary;
    border-color: $color;
    color: $color;
  }
  
  @mixin selected-button($color) {
    background-color: $color;
    color: $secondary;
  }

  @each $button, $color in $buttons {
      .btn-#{$button} {
          @include selected-button($color);
      }

      .btn-#{$button}-white {
          @include unselected-button($color)
      }
  }

  .btn-bottom {
      @include selected-button($primary)
  }