/* MAIN LAYOUR */
$logo-font: "Fjalla One", sans-serif;
$icons: (bluebin: $bluebin, greenbin: $greenbin, garbage: $garbage);

a {
  color: $primary;
}

// NAVBAR & FOOTER
.headerfooter {
  background-color: $primary;
  color: $secondary;
}

.logo-font {
  font-family: $logo-font;
}

.centralize {
  margin: 0 auto;
  float: none;
}

// DESCRIPTION

@each $icon, $color in $icons {
    .icon-#{$icon} {
        color: $color
    }
}