/* MAIN LAYOUR */
a {
  color: #165788; }

.headerfooter {
  background-color: #165788;
  color: white; }

.logo-font {
  font-family: "Fjalla One", sans-serif; }

.centralize {
  margin: 0 auto;
  float: none; }

.icon-bluebin {
  color: #4f8dc9; }

.icon-greenbin {
  color: #538259; }

.icon-garbage {
  color: #211c1b; }

/* BUTTONS */
.btn-bluebin {
  background-color: #4f8dc9;
  color: white; }

.btn-bluebin-white {
  background-color: white;
  border-color: #4f8dc9;
  color: #4f8dc9; }

.btn-greenbin {
  background-color: #538259;
  color: white; }

.btn-greenbin-white {
  background-color: white;
  border-color: #538259;
  color: #538259; }

.btn-garbage {
  background-color: #211c1b;
  color: white; }

.btn-garbage-white {
  background-color: white;
  border-color: #211c1b;
  color: #211c1b; }

.btn-bottom {
  background-color: #165788;
  color: white; }

/* PROGRESS BAR */
.progress-bar-striped2 {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem; }

.bg-progress {
  background-color: #165788 !important; }

/* PROGRESS BAR SIZES -- w-50 and w-100 are already included in Bootstrap */
.w-0 {
  width: 0%; }

.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-30 {
  width: 30%; }

.w-40 {
  width: 40%; }

.w-60 {
  width: 60%; }

.w-70 {
  width: 70%; }

.w-80 {
  width: 80%; }

.w-90 {
  width: 90%; }
