/* BUTTONS */
@mixin unselected-button($color) {
    background-color: white;
    border-color: $color;
    color: $color;
  }
  
  @mixin selected-button($color) {
    background-color: $color;
    color: white;
  }

.btn-bluebin {
    @include selected-button($bluebin-color);
  }
  
  .btn-bluebin-white {
    @include unselected-button($bluebin-color);
  }
  
  .btn-greenbin {
    @include selected-button($greenbin-color);
  }
  
  .btn-greenbin-white {
    @include unselected-button($greenbin-color);
  }
  
  .btn-garbage {
    @include selected-button($garbage-color);
  }
  
  .btn-garbage-white {
    @include unselected-button($garbage-color);
  }
  
  .btn-bottom {
    @include selected-button($toronto-color);
  }