/* MAIN LAYOUR */
$logo-font: "Fjalla One", sans-serif; 

a {
  color: $primary-color;
}

// NAVBAR & FOOTER
.headerfooter {
  background-color: $primary-color;
  color: $secondary-color;
}

.logo-font {
  font-family: $logo-font;
}

.centralize {
  margin: 0 auto;
  float: none;
}

// DESCRIPTION
.icon-bluebin {
  color: $bluebin-color;
}

.icon-greenbin {
  color: $greenbin-color;
}

.icon-garbage {
  color: $garbage-color;
}