/* PROGRESS BAR */

$width-sizes: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@mixin progress-bar-width($size) {
    width: ($size / 100) * 100%;
  }

  @each $size in $width-sizes {
      .w-#{$size} {
        @include progress-bar-width($size);
      };
  }

  .progress-bar-striped2 {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }
  
  .bg-progress {
    background-color: $primary !important;
  }