/* PROGRESS BAR */
@mixin progress-bar-width($size) {
    width: percentage($size / 100);
  }

.progress-bar-striped2 {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }
  
  .bg-progress {
    background-color: $toronto-color !important;
  }
  
  /* PROGRESS BAR SIZES -- w-50 and w-100 are already included in Bootstrap */
  
  .w-0 {
    @include progress-bar-width(0);
  }
  
  .w-10 {
    @include progress-bar-width(10);
  }
  
  .w-20 {
    @include progress-bar-width(20);
  }
  
  .w-30 {
    @include progress-bar-width(30);
  }
  
  .w-40 {
    @include progress-bar-width(40);
  }
  
  .w-60 {
    @include progress-bar-width(60);
  }
  
  .w-70 {
    @include progress-bar-width(70);
  }
  
  .w-80 {
    @include progress-bar-width(80);
  }
  
  .w-90 {
    @include progress-bar-width(90);
  }